body {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    color: #000;
}
a { 
    text-decoration: none; 
    color: #000;
   } 
*,
*:before,
*:after {
    box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/*Header*/
header{
	position: relative;
}
.header__block{
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.header__all{
	width: 100%;
	height: 27vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.header_menu_1{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 38px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #f0eeeb;

	padding: 0 82px 0 82px;
}
.header__menu_2{
	
	position: relative;
	z-index: 1;	
	width: 100%;
	height: 128px;


	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #fff;
	padding: 0 82px 0 82px;
}
.contact{
	color: #000;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
}
/*nav*/
.nav__link{
	color: #000;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: 16px;
}
.nav__link__2{
	margin-right: 15px;
}

.nav__line{
	padding-right: 16px;
	border-right: 2px solid #000;
}
.header__menu_2__block{
	position: relative;
	z-index: 2;
	width: 1px;
	height: 1px;
	border: 200px solid transparent;
	border-top: 60px solid #fff;
}
.nav__sosial__mereg{
	display: flex;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	margin-right: 10px;
}
.menu__2__btn{
	display: flex;
	align-items: center;
	width: 90px;
	height: 36px;
	background-color: #000;
	color: #fff;
	font-size: 8px;
	text-transform: uppercase;
}
.menu__2__btn:hover{
	cursor: pointer;
}
.rupiah{
	margin-left: 16px;
}
.rupiah:after{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	top: 48%;
    
    z-index: 1;

    transform: translateX(7px) translateY(-50%) rotate(45deg);
}
.all{
	width: 100%;
}
/*block__rebayte*/
.pustishka{
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

}

.block__rebayte{
	margin-top: 200px;
	position: relative;
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.block__reb__border__1{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	width: 272px;
	height: 272px;
	border: 2px solid #fff;
}
.block__reb__border__2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0 5px 0;
	position: relative;
	z-index: 2;
	width: 256px;
	height: 256px;
	border: 1px solid #fff;
}
.mid__season{
	margin: 0;
	font-size: 19.44px;
	color: #fff;
	text-transform: uppercase;
}
.sale{
	margin: 0;
	font-size: 58.81px;
	color: #000;
	text-transform: uppercase;
}
.up__to{
	margin: 0;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
}
.off__50{
	margin: 0;
	font-size: 31.36px;
	color: #000;
	text-transform: uppercase;
}
.sale__btn{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	margin-top: 54px;
	width: 188px;
	height: 52px;
	background-color: #ff9d00;
	color: #bbb;
	font-size: 24px;
	text-transform: uppercase;

}
.sale__btn:hover{
	cursor: pointer;
	background-color: #000;
	color: #bbb;
}
.up__to:after{
	content: "";
	position: absolute;
	width: 34px;
	height: 10px;
	
	border-bottom: 2px solid #fff;
	top: 61%;
    left: 15%;
    z-index: 2;
}
.up__to:before{
	content: "";
	position: absolute;
	width: 64px;
	height: 10px;
	
	border-bottom: 2px solid #fff;
	top: 65%;
    left: 3.333%;
    z-index: 2;
}
.sale:after{
	content: "";
	position: absolute;
	width: 34px;
	height: 10px;
	
	border-bottom: 2px solid #fff;
	top: 61%;
    right: 15%;
    z-index: 2;
}
.sale:before{
	content: "";
	position: absolute;
	width: 64px;
	height: 10px;
	
	border-bottom: 2px solid #fff;
	top: 65%;
    right: 3.333%;
    z-index: 2;
}
/*block__info*/
.block__info{
	position: relative;
	justify-content: space-between;
	align-items: center;

	margin-top: 90px;
	width: 100%;
	height: 202px;

	display: flex;
}
.info__1{
	display: flex;
	height: 100px;
	margin-right: -600px;
	margin-left: 30px;
}
.info__2{
	display: flex;
	height: 100px;
	margin-right: -600px;
}
.info__3{
	display: flex;
	height: 100px;
	margin-right: 30px;
}
.block__max{
	display: flex;
	width: 390px;
	height: 100px;
	background-color: #d9bf8f;
}
.info__2__max{
	display: flex;
	width: 370px;
	height: 100px;
	background-color: #000;
}
.intro__3__block__max{
	display: flex;
	width: 390px;
	height: 100px;
	background-color: #d9bf8f;
}
.block__mini{
	width: 1px;
	height: 1px;
	border: 50px solid transparent;
	border-left: 50px solid #d9bf8f;
}
.intro__3__block__mini{
	width: 1px;
	height: 1px;
	border: 50px solid transparent;
	border-right: 50px solid #d9bf8f;
}
.info__2__left{
	display: flex;
	flex-direction: column;
}
.info__2__right{
	display: flex;
	flex-direction: column;
}
.info__2__left__top{
	width: 1px;
	height: 1px;
	border: 25px solid transparent;
	border-top:  25px solid #000;
	border-right:  25px solid #000;
}
.info__2__left__bottom{
	width: 1px;
	height: 1px;
	border: 25px solid transparent;
	border-bottom:  25px solid #000;
	border-right:  25px solid #000;
}
.info__2__right__top{
	width: 1px;
	height: 1px;
	border: 25px solid transparent;
	border-top:  25px solid #000;
	border-left:  25px solid #000;
}
.info__2__right__bottom{
	width: 1px;
	height: 1px;
	border: 25px solid transparent;
	border-bottom:  25px solid #000;
	border-left:  25px solid #000;
}
.info__img{
	width: 50px;
	height: 50px;
	margin: 30px auto;
	
}
.info__com{
	display: flex;
	flex-direction: column;
	margin: -20px auto;
	margin-left: -10px;

}

.info__h3{
	font-size: 30px;
	color: #fff
}
.info__h4{
	margin-top: -30px;
	font-size: 14px;
	color: #fff
}
.pustishka__2{
	
}
/* Title */ 
.title{
	width: 100%;
	height: 100px;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
}
.title__left{
	width: 15px;
	height: 15px;
	background-color: #d9bf8f;
	transform: rotate(45deg);
	margin-right: 70px;
}
.left:after{
	content: "";
	position: absolute;
	width: 420px;
	height: 1px;
	top: 48px;
	left: 30px ;
	z-index: 1;
	border-bottom: 1px solid #bbb;

}
.right:after{
	content: "";
	position: absolute;
	width: 420px;
	height: 1px;
	top: 48px;
	right: 30px;
	z-index: 1;
	border-bottom: 1px solid #bbb;

}
.title__right{
	width: 15px;
	height: 15px;
	background-color: #d9bf8f;
	transform: rotate(45deg);
	margin-left: 70px;
}
.title__center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.title__h1{
	color: #000;
	font-size: 30px;
	text-align: center;

}
/* Colection*/
.colection{
	position: 	relative;	
	width: 100%;
	height: 860px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.colection__left{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 20px;
	
}
.colection__right{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 20px;
	
}
.colection__center{
	width: 460px;
	height: 820px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: url("../photos/Colection/Colection__center.jpg");
	
}
.col__center__bord{
	position: absolute;
	width: 420px;
	height: 780px;
	top: 40px;
	left: center;
	z-index: 1;
	margin-left: 20px;
	border: 2px solid #fff;

}
.colection__left__top{
	width: 400px;
	height: 400px;
	background: url("../photos/Colection/Colection__1.jpg");
}
.col__left__top__bord{
	position: absolute;
	width: 360px;
	height: 360px;
	top: 40px;
	left: 40px;
	z-index: 1;
	border: 2px solid #fff;
}
.colection__left__bottom{
    width: 400px;
	height: 400px;
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background: url("../photos/Colection/Colection__2.jpg");
}
.col__left__bottom__bord{
	position: absolute;
	width: 360px;
	height: 360px;
	bottom: 40px;
	left: 40px;
	z-index: 1;
	border: 2px solid #fff;

}
.colection__right__top{
	width: 400px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("../photos/Colection/Colection__3.jpg");
	
}
.col__right__top__bord{
	position: absolute;
	width: 360px;
	height: 360px;
	top: 40px;
	right: 40px;
	z-index: 1;
	border: 2px solid #fff;

}
.colection__right__bottom{
	width: 400px;
	height: 400px;
	margin-top: 20px;
    background: url("../photos/Colection/Colection__4.jpg");
}
.col__right__bottom__bord{
	position: absolute;
	width: 360px;
	height: 360px;
	bottom: 40px;
	right: 40px;
	z-index: 1;
	border: 2px solid #fff;
}
.colection__com{
	margin: 200px 0 0 40px;
}
.col__c__h1{
	font-size: 24px;
	color: #000;
}
.col__c__h2{
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
	margin-top: -15px;
}
.discount{
	margin-top: 50px;
	text-align: center;
}
.discount__h1{
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
}
.discount__h2{
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
}
.salee{
	margin-top: 90px;
	text-align: center;
}
.sale__h1{
	font-size: 48px;
	color: #000;
}
.sale__h2{
	font-size: 60px;
	color: #000;
	margin-top: -80px;
}
.plus{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 180px;
}
.plus_x{
	position: relative;
	z-index: 2;
	width: 60px;
	height: 1px;
	border-bottom: 1px solid #f0975c;
}
.plus_y{
	position: relative;
	z-index: 2;
	width: 60px;
	height: 1px;
	border-bottom: 1px solid #f0975c;
	transform: rotate(90deg);

}
.col__left__top__bord:hover{
	border: 2px solid #bbb;
	background-color: #bbb;
	opacity: 0.9;
}
.col__left__top__btn{
	width: 110px;
	height: 42px;

	display: flex;
	justify-content: center;
	align-items: center; 

	margin: 90px auto;
	background-color: #f0975c;
	color: #fff;
	font-size: 15px;


}
.tit__eror{
	margin-right: 40px;
}
.tit__eror__r{
	margin-left: -30px;
}
/*Sumer Colection */
.sumer__colection__all{
	width: 100%;
	height: 720px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sumer__colection{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sum__col__tob{
	display: flex;
}
.sum__col__bot{
	display: flex;
}
.sum__col__tob{
	margin-bottom: 10px;
}
.sum__col__bot{

}
.top__card__col{
	width: 300px;
	height: 345px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
/*.top__card__col:hover{
	background: filter(url("../photos/Person/1.jpg"), grayscale(100%));
}*/
.top__card__1{
	background: url("../photos/Person/1.jpg")
}
.top__card__2{
	background: url("../photos/Person/2.jpg")
}
.top__card__3{
	background: url("../photos/Person/3.jpg")
}
.top__card__4{
	background: url("../photos/Person/4.jpg")
}
.top__card__5{
	background: url("../photos/Person/5.jpg")
}
.top__card__6{
	background: url("../photos/Person/6.jpg")
}
.top__card__7{
	background: url("../photos/Person/7.jpg")
}
.top__card__8{
	background: url("../photos/Person/8.jpg")
}
.top__card__sale{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 5;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #feab12;
	top: -180px;
	left: -98px;

}
.top__card__sale__h1{
	font-size: 23px;
	color: #fff;
}
.top__card__sale__h2{
	font-size: 11px;
	color: #fff;
	margin-top: 0px;
}

.sum__col__btn{
	position: relative;
	width: 220px;
	height: 1px;
	border: 42px solid transparent;
	border-bottom: 44px solid #000;
	display: flex;
	justify-content: center
}
.sum__col__btn:hover{
	border: 42px solid transparent;
	border-bottom: 44px solid #f0975c;
	color: #f0975c;
}
.block__btn__h1{
	margin: 11px -15px 0 -15px;
	font-size: 15px;
	color: #fff;
}
/* Intro All*/
.intro__all{
	position: relative;
	display: flex;
	margin: 0 130px;
}
.intro__old{
	width: 100%;
	height: 210px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.intro__l{
	height: 110px;
}
.er_l{
	margin-right: 50px;
}
.er_r{
	margin-left: 50px;
}